/*
 * @Author: 焦质晔
 * @Date: 2021-02-12 20:40:51
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-06-09 09:26:32
 */
/**
 * public
 */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  color: $textColor;
  font-size: $textSize;
  overflow: hidden;
}
a {
  color: $textColor;
  text-decoration: none;
}
.text_overflow_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.clearfix {
  zoom: 1;
}

/**
 * scrollbar style
 */
/* 滚动条整体部分 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 滚动条里面的小方块，能向上向下移动 */
::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}
/* 边角，即两个滚动条的交汇处 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $disabledColor !important;
}

/**
 * app style
 */
#app {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.iframe {
  padding: 10px 10px 0 !important;
  box-sizing: border-box;
}

.fixed-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  border-top: 1px solid $borderColor;
  padding: $modulePadding $modulePadding + 5px;
  background: #fff;
  text-align: right;
}
